In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn import base

In [31]:
# fungsi untuk mencetak akurasi dari logistik regression
def logistic(X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)
    lr=LogisticRegression(solver='lbfgs')
    lr.fit(X_train,y_train)
    y_pre=lr.predict(X_test)
    print('Accuracy : ',accuracy_score(y_test,y_pre))

# Some Basic EDA

In [2]:
df = pd.read_csv('train.csv')
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 25 columns):
id        300000 non-null int64
bin_0     300000 non-null int64
bin_1     300000 non-null int64
bin_2     300000 non-null int64
bin_3     300000 non-null object
bin_4     300000 non-null object
nom_0     300000 non-null object
nom_1     300000 non-null object
nom_2     300000 non-null object
nom_3     300000 non-null object
nom_4     300000 non-null object
nom_5     300000 non-null object
nom_6     300000 non-null object
nom_7     300000 non-null object
nom_8     300000 non-null object
nom_9     300000 non-null object
ord_0     300000 non-null int64
ord_1     300000 non-null object
ord_2     300000 non-null object
ord_3     300000 non-null object
ord_4     300000 non-null object
ord_5     300000 non-null object
day       300000 non-null int64
month     300000 non-null int64
target    300000 non-null int64
dtypes: int64(8), object(17)
memory usage: 57.2+ MB

## Pisahkan target dengan prediktor

In [24]:
x = df.drop(columns='target')
x.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,c389000ab,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,4cd920251,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,de9c9f684,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,4ade6ab69,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,cb43ab175,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8

In [26]:
y = df['target']
y.head()

0    0
1    0
2    0
3    1
4    0
Name: target, dtype: int64

# Label Encoding

Label encoding mengubah data kategori menjadi angka, contohnya seperti kita memiliki data
merah, merah, biru, kuning kuning. Maka setelah dilabel encode akan menjadi 0, 0, 1, 2, 2

Import terlebih dahulu library yang dibutuhkan

In [22]:
from sklearn.preprocessing import LabelEncoder

deklarasikan dataframe baru untuk menyimpan yang kolom yang telah labelencode, lalu iterasi setiap kolom, apabila kolom bertipe object, lakukan labelencoding, apabila tidak, langsung saja dimasukan

In [33]:
%%time

df_le = pd.DataFrame() #deklarasi dataframe kosong
le = LabelEncoder()
for c in x.columns:
    if(x[c].dtype == 'object'):
        df_le[c] = le.fit_transform(x[c])
    else:
        df_le[c] = x[c]

df_le.head()

Wall time: 2.12 s

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
0,0,0,0,0,1,1,1,5,5,3,...,1686,2175,2,2,1,7,3,136,2,2
1,1,0,1,0,1,1,1,4,3,5,...,650,11635,1,2,3,0,0,93,7,8
2,2,0,0,0,0,1,0,4,4,5,...,1932,8078,1,1,4,7,17,31,7,2
3,3,0,1,0,0,1,2,4,5,0,...,629,6056,1,2,0,8,3,134,2,1
4,4,0,0,0,0,0,2,4,4,0,...,1760,8231,1,2,2,0,17,158,7,8

In [28]:
df_le.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 24 columns):
id       300000 non-null int64
bin_0    300000 non-null int64
bin_1    300000 non-null int64
bin_2    300000 non-null int64
bin_3    300000 non-null int32
bin_4    300000 non-null int32
nom_0    300000 non-null int32
nom_1    300000 non-null int32
nom_2    300000 non-null int32
nom_3    300000 non-null int32
nom_4    300000 non-null int32
nom_5    300000 non-null int32
nom_6    300000 non-null int32
nom_7    300000 non-null int32
nom_8    300000 non-null int32
nom_9    300000 non-null int32
ord_0    300000 non-null int64
ord_1    300000 non-null int32
ord_2    300000 non-null int32
ord_3    300000 non-null int32
ord_4    300000 non-null int32
ord_5    300000 non-null int32
day      300000 non-null int64
month    300000 non-null int64
dtypes: int32(17), int64(7)
memory usage: 35.5 MB

In [32]:
logistic(df_le,y)

Accuracy :  0.69065

# One Hot Encoding

Metode ini mengencode setiap kategori sebagai vektor one hot encoded (OHE) atau peubah dummy . vektor OHE merupakan vektor representasi dari suatu kategori yang membuat vektor biner berukuran i dimana i merupakan banyaknya nilai pada kategori i yang setiap nilainya hanya 1 apabila peubah awal berkategori tersebut, seperti yang tergambar pada gambar berikut :
<img src='https://miro.medium.com/max/878/1*WXpoiS7HXRC-uwJPYsy1Dg.png'></img>

hyang akan beroutput sebagai sparse matrix

Import Library yang dibutuhkan

In [34]:
from sklearn.preprocessing import OneHotEncoder

In [49]:
%%time 
ohe = []

one=OneHotEncoder()

one.fit(x)
ohe=one.transform(x)

print('train data set has got {} rows and {} columns'.format(ohe.shape[0],ohe.shape[1]))

train data set has got 300000 rows and 316461 columns
Wall time: 3.73 s

In [50]:
logistic(ohe,y)

Accuracy :  0.75715

C:\Users\jerry\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

# Feature Hashing

Sama seperti OHE dimana outputnya adalah sebuah sparse matrix,  namun Feature Hashing menghasilkan sparse matrix dengan dimensi yang lebih sedikit dengan memanfaatkan hashing terhadap kategorinya dan mempresentasikannya berdasarkan indexnya

Import library yang dibutuhkan

In [51]:
from sklearn.feature_extraction import FeatureHasher

In [52]:
%%time

x_hash=x.copy()
for c in x.columns:
    x_hash[c]=x[c].astype('str')      
hashing=FeatureHasher(input_type='string')
x_hashed=hashing.transform(x_hash.values)

Wall time: 9.1 s

In [53]:
print('train data set has got {} rows and {} columns'.format(x_hashed.shape[0],x_hashed.shape[1]))

train data set has got 300000 rows and 1048576 columns

In [54]:
logistic(x_hashed,y)

Accuracy :  0.7516833333333334

C:\Users\jerry\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)